
#footnotediv {
	position:absolute;
	width:400px;
	overflow:visible;
}

#footnotediv {
	background-color: #fcf4dd;
	font-size: 1.0em;
	color: black;
	padding: 5px 12px;
	border: 1px solid #aaa;
	box-shadow: 0 0 10px  #333;
	-webkit-box-shadow: #333 0 0 10px;
	-moz-box-shadow: 0 0 10px #333;
}

#footnotediv p {
	margin: 0;
	padding: 5px 0;
}

a.footnotebacklink {
	border-bottom: none;
}

a.footnotebacklink img {
	margin: 0;
	padding: 0;
	border: 0;
}

#footnotecloselink {
	color: #888;
	text-decoration: none;
	text-align: right;
	margin: 0;
	padding: 0 5px;
	font-size: 1.0em;
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

sup a {
	margin: 0;
	padding: 0 4px 5px 4px;
}

sup {
	padding: 0;
}
